*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    justify-content: center;
    align-items: center;
    /* background-color: rebeccapurple; */
}
#container{
    background-color: rgba(169, 169, 169, 0.363);
    display: grid;
    justify-content: center;
    border: 10px solid black;
    border-radius: 15px;
    margin-top: 45%;
    width: 100%;
    padding: 20%;
}
#content{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
img{
    margin-right: -15%;
    margin-top: -35%;
    width: 100%;
}
#radio{
    display: inline;
}

h2{
    display: inline;
}
#pb{
    
    border-radius:20px;
    background-color: gray;
    width: 70px;
    height: 30px;
    padding: 1%;
    margin-top: 5%;
}
#pb:hover,#pbc:hover{
    cursor: pointer;
}
#pbc{
    
    content: "";
    border: 2px black solid ;
    border-radius: 50px;
    background-color: wheat;
    width: 25px;
    height: 25px;
    padding:1% ;
}
#at{
    padding-top: 30%;
    margin-bottom: -30%;
    /* padding-bottom: -100%; */
}